#page-found p{
    font-size: 3rem;

    text-align: center;

    color: red;

    animation: animation 10s infinite;

    transition: ease-in-out 0.3s font-size;
}

@keyframes animation{
    50% {
        color: white;
    }
}

@media screen and (max-width: 520px) {
    #page-found p{
        font-size: 1.5rem;
    }
}