header{
    display: flex;

    margin: 1rem 0;

    width: 100%;

    align-items: center;
    justify-items: flex-start;
    flex-direction: row;
}

header #logo{
    color: red;

    margin-left: 1rem;
    margin-right: 2rem;

    font-size: 2.5rem;
    font-weight: bold;

    text-decoration: none;

    filter: drop-shadow(2px 2px 2px red);

    transition: ease-in-out 0.2s font-size;
}

header #menu{
    list-style: none;
    
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 650px) {
    header #logo{
        font-size: 1.5rem;
    }    
}

@media screen and (max-width: 520px) {
    header #menu{
        flex-direction: column;
    }    
}