header{
    display: flex;

    margin: 1rem 0;

    width: 100%;

    align-items: center;
    justify-items: flex-start;
    flex-direction: row;
}

header #logo{
    color: red;

    margin-left: 1rem;
    margin-right: 2rem;

    font-size: 2.5rem;
    font-weight: bold;

    transition: ease-in-out 0.2s font-size;
}

header #menu ul{
    list-style: none;
    display: inline-block;
}

@media screen and (max-width: 650px) {
    header #logo{
        font-size: 1.5rem;
    }    
}